<%- if @photo.errors.present? -%>
  <%- @photo.errors.full_messages.each do |error| -%>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>


  <div class="submit_title">Submit your work</div>

  <div class="row">
    <div class="form-wrapper">
      <%= form_for @photo do |f| %>

        <div class="form_field_large">
          <%= f.label :name, "name" %>
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="form_field_large">
          <%= f.label :description, "description" %>
          <%= f.text_field :description %>
       </div>

        <div class="form_field_large">
          <%= f.label :source, "source url" %>
          <%= f.text_field :source %>
        </div>

        <%= fields_for @tag do |field| %>
          <div class="form_field_large">
            <%= field.label "tags", "tags" %></div>
            <%= field.text_field :name %>
        <% end %>

        <div class="form_field_large">
          <%= f.file_field :image_file %>
        </div>

        <div class="actions">
          <%= f.submit "add photo" %>
        </div>
    <% end %>
  </div>
</div>
