<!DOCTYPE html>
<html>
<head>
  <title>Useably</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="logo"><%= link_to image_tag("icons/useably_logo.svg"), photos_path %>
    </div>
  <div class="top-bar-thing">
    <div class="user_option_nav">
      <div class="search">
        <div class="search_logo">
          <%= image_tag "icons/search.svg" %>
        </div>
        <%= form_tag(photos_path(@photos), :method => "get", class: "navbar-form", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], class: "span2", placeholder: "#{}Search" %>
        <% end %>
      </div>
      <ul>
        <li class="nav-item"><a href="#">Profile</a></li>
        <li class="nav-item"><a href="#">Favorites</a></li>
        <li class="nav-item"><a href="#">Albums</a></li>
        <li class="nav-item"><%= link_to "Submit", new_photo_path %></li>
      </ul>
    </div>
    <ul>
      <% if current_user %>
        <li class="user-nav"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <li class="user-nav"><%= link_to 'About', user_session_path %></li>
      <%- else -%>
        <li class="user-nav"><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li class="user-nav"><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
      </ul>
    </div>
  </div>

    <div class="left-col">
      <ul class="filters">
        <% if current_user != nil && current_user.tag_list != nil %>
          <% current_user.tag_list.each do |tag| %>
          <li><%= "##{tag.name}" %></li>
          <% end %>
        <% else %>
        <li class="filter-item"><%= link_to "#user_interface", new_photo_path %></li>
        <li class="filter-item"><%= link_to "#dashboard", new_photo_path %></li>
        <li class="filter-item"><%= link_to "#mobile", new_photo_path %></li>
        <li class="filter-item"><%= link_to "#android", new_photo_path %></li>
        <li class="filter-item"><%= link_to "#iOS", new_photo_path %></li>
        <li class="filter-item"><%= link_to "#calendar", new_photo_path %></li>
        <li class="filter-item"><%= link_to "#graph", new_photo_path %></li>
        <li class="filter-item"><%= link_to "#user", new_photo_path %></li>
        <li class="filter-item"><%= link_to "#typography", new_photo_path %></li>
        <% end %>
        <div class="random-line">________________________</div>
      </ul>
      <div class="about_index">

      </div>
    </div>

  <div class="main-wrapper">
  <% flash.each do |key, value| %>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
  <script src='masonry.pkgd.min.js'></script>
  <%= yield :extra_footer %>
</body>
</html>
